* {
  margin: 0;
  padding: 0;
}
.banner_template {
  height: 100vh;
  background-color: #666;
  font-weight: bold;
  h1 {
    margin-top: 0;
    text-align: center;
    color: #e8b961;
    transform: translateY(2rem);
  }
  p {
    transform: translateY(1rem);
    text-align: center;
    color: #e8b961;
  }
}
.newyear {
  font-size: 25px;
  transform: translateY(40px) !important;
}
.content {
  box-shadow: 1px 10px 12px -2px;

  p {
    width: 650px;
    text-align: left;
  }
  margin: 4rem auto;
  background-color: white;
  width: 1000px;
  height: 525px;
  background-image: url(./image/Texture.png);
}
.text {
  width: 90%;
  color: #e8b961;
  font-size: 20px;
  transform: translate(90px, 58px);
  line-height: 60px;
  .new {
    font-size: 70px;
  }
  .year {
    font-size: 70px;
    transform: translate(-38px, -12px);
  }
}
.number {
  font-size: 110px;
  transform: translate(0px, -53px) !important;
}
.number21 {
  font-size: 240px;
  letter-spacing: -20px;
}
.december {
  color: #142a84 !important;
  font-size: 60px;
  transform: translateY(-30px) !important;
}
.activity {
  transform: translateY(-25px) !important;
  font-size: 30px;
  font-weight: normal;
}
.activity_item {
  margin: 30px;
}
.address {
  font-size: 15px;
  font-weight: normal;
  line-height: normal;
  transform: translateY(-38px);
  p {
    color: #142a84;
  }
}
.address_item {
  margin-bottom: 12px;
  font-weight: bold;
}
.decor {
  transform: translateY(-34rem);
}
.vecto1 {
  transform: translate(10px, 7rem);
  width: 80px;
}
.vecto2 {
  transform: translate(0, -2px);
  overflow: hidden;
}
.vecto2_item {
  width: 520px;
  transform: translate(36rem, -7rem);
}
.vecto3 {
  transform: translate(34rem, -28rem);
  width: 60px !important;
  opacity: 1;
}
.age {
  text-align: center !important;
  position: absolute;
  transform: translate(902px, -185px) !important;
  width: 63px !important;
  color: white !important;
}
.around {
  width: 80px;
  transform: translate(56rem, -13rem);
}
.vecto4 {
  height: 0;
}
